# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/

# IntelliJ IDEA
/.idea/
/*.iml
*.iws
*.ipr
workspace.xml
tasks.xml
usage.statistics.xml
shelf/
out/

# Optional: macOS
.DS_Store

